@{
    ViewData["Title"] = "Dashboard";
    Layout = "_LayoutDashboard";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-home"></i>
            </span> Dashboard
        </h3>
    </div>
    <div class="row">
        @if (User.IsInRole("Admin"))
        {
            <div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                    <div class="card-body">

                        <img src="~/Purple/assets/images/dashboard/circle.svg"
                             class="card-img-absolute"
                             alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Company Expense Salary
                            <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                        </h4>

                        <h2 class="mb-5">Rp. @string.Format("{0:N}",ViewData["statistic"])</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                    <div class="card-body">
                        <img src="~/Purple/assets/images/dashboard/circle.svg"
                             class="card-img-absolute"
                             alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Visitors Online
                            <i class="mdi mdi-diamond mdi-24px float-right"></i>
                        </h4>
                        <h2 class="mb-5">@ViewData["countEmployee"] Employee</h2>
                    </div>
                </div>
            </div>
        }

        @if (User.IsInRole("User"))
        {
            <div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                    <div class="card-body">

                        <img src="~/Purple/assets/images/dashboard/circle.svg"
                             class="card-img-absolute"
                             alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Paid Overtime
                            <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                        </h4>

                        <h2 class="mb-5">Rp. @string.Format("{0:N}",ViewData["countOvertime"])</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                    <div class="card-body">
                        <img src="~/Purple/assets/images/dashboard/circle.svg"
                             class="card-img-absolute"
                             alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Remaining
                            <i class="mdi mdi-clock-alert mdi-24px float-right"></i>
                        </h4>
                        <h2 class="mb-5">@ViewData["remaining"] Remaining</h2>
                    </div>
                </div>
            </div>
        }

        @if (User.IsInRole("Manager"))
        {
            <div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                    <div class="card-body">

                        <img src="~/Purple/assets/images/dashboard/circle.svg"
                             class="card-img-absolute"
                             alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Salary
                            <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                        </h4>

                        <h2 class="mb-5">Rp. @string.Format("{0:N}",ViewData["salary"])</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                    <div class="card-body">
                        <img src="~/Purple/assets/images/dashboard/circle.svg"
                             class="card-img-absolute"
                             alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Remaining
                            <i class="mdi mdi-clock-alert mdi-24px float-right"></i>
                        </h4>
                        <h2 class="mb-5">@ViewData["countOvertime"] Waiting</h2>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- content-wrapper ends -->
