@model IEnumerable<ClientOvertime.ViewModels.Payslips.PayslipVMGet>

@{
    ViewData["Title"] = "Employee";
    Layout = "_LayoutDashboard";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-cash-multiple"></i>
            </span> Payslip
        </h3>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card mt-4">
                <div class="card-body">
                    <h3 class="card-title h3">Datatables Payslips</h3>
                    <table class="table datatable table-hover table-responsive table-striped" id="data-table" style="width: 100%">
                        <thead class="table-primary">
                            <tr>
                                <th hidden>
                                @Html.DisplayNameFor(model => model.Guid)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FullName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Salary)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Allowance)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PaidOvertime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalSalary)
                                </th>
                                @* <th>
                                @Html.DisplayNameFor(model => model.EmployeeGuid)
                                </th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @{
                                        var culture = new System.Globalization.CultureInfo("id-ID");
                                    }
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.Guid)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td>
                                        @{
                                            var formatDate = item.Date.ToString("dd MMMM yyyy", culture);
                                        }
                                        @Html.DisplayFor(modelItem => formatDate)
                                    </td>
                                    <td>
                                        @{
                                            var formatMoney = item.Salary.ToString("C0",culture);
                                        }
                                        @Html.DisplayFor(modelItem => formatMoney)
                                    </td>
                                    <td>
                                        @{
                                            var formatAllow = item.Allowance.ToString("C0", culture);
                                        }
                                        @Html.DisplayFor(modelItem => formatAllow)
                                    </td>
                                    <td>
                                        @{
                                            var formatPaid = item.PaidOvertime.ToString("C0", culture);
                                        }
                                        @Html.DisplayFor(modelItem => formatPaid)
                                    </td>
                                    <td>
                                        @{
                                            var formatTotal = item.TotalSalary.ToString("C0", culture);
                                        }
                                        @Html.DisplayFor(modelItem => formatTotal)
                                    </td>
                                    @* <td>
                                @Html.DisplayFor(modelItem => item.EmployeeGuid)
                                </td>*@

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }


        .table thead th {
            background-color: #da8cff;
            background-image: linear-gradient(315deg, #da8cff 0%, #9a55ff 50%);
            ;
            color: #fff;
            font-weight: bold;
            padding: 10px;
        }


        .table tbody td {
            padding: 10px;
            border: 1px solid #ccc;
        }


        .table tbody tr:nth-child(even) {
            background-color: #f8f8f8;
        }


        .table tbody td button {
            padding: 5px 10px;
            font-size: 14px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

</style>

@*<div class="modal text-start" id="modalDetail" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
   
    <div class="modal-dialog" style="max-width:80%">
        <div class="modal-content" style="margin-left:auto; margin-right:auto">

          
            <div class="modal-header">
                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <div class="modal-body"></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        function showDetailPayslip(guid) {
            $.get("/payslips/dummy?guid=" + guid, function (data) {
                $("#modalDetail .modal-body").html(data);
                $("#modalDetail").modal("show");
            });
        }
    </script>
}*@
