@model IEnumerable<ClientOvertime.ViewModels.Payslips.PayslipVMGet>

@{
    ViewData["Title"] = "Employee";
    Layout = "_LayoutDashboard";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-cash-multiple"></i>
            </span> Payslip
        </h3>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card mt-4">
                <div class="card-body">
                    <h3 class="card-title h3">Datatables Payslips</h3>
                    <table class="table datatable table-hover table-responsive table-striped" id="data-table" style="width: 100%">
                        <thead>
                            <tr>
                                @*<th>
                                @Html.DisplayNameFor(model => model.Guid)
                                </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.EmployeeName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Salary)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Allowace)
                                </th>
                                @* <th>
                                @Html.DisplayNameFor(model => model.EmployeeGuid)
                                </th>*@

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @{
                                        var culture = new System.Globalization.CultureInfo("id-ID");
                                    }
                                    @*<td>
                                @Html.DisplayFor(modelItem => item.Guid)
                                </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmployeeName)
                                    </td>
                                    <td>
                                        @{
                                            var formatDate = item.Date.ToString("dd MMMM yyyy", culture);
                                        }
                                        @Html.DisplayFor(modelItem => formatDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Salary)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Allowace)
                                    </td>
                                    @* <td>
                                @Html.DisplayFor(modelItem => item.EmployeeGuid)
                                </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

