@model IEnumerable<ClientOvertime.ViewModels.Overtimes.OvertimeVMRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutDashboard";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-av-timer"></i>
            </span> Overtime History
        </h3>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card mt-4">
                <div class="card-body">
                    <h3 class="card-title h3">Datatables History</h3>
                    <table class="table datatable table-hover table-responsive table-striped text-center" id="data-table" style="width: 100%">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.OvertimeNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FullName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedDate)
                                </th>
                                @*<th>
                                @Html.DisplayNameFor(model => model.StartDate)
                                </th>
                                <th>
                                @Html.DisplayNameFor(model => model.EndDate)
                                </th>
                                <th>
                                @Html.DisplayNameFor(model => model.Paid)
                                </th>
                                <th>
                                @Html.DisplayNameFor(model => model.Remarks)
                                </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.Remaining)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                @*                                <th>
                                @Html.DisplayNameFor(model => model.EmployeeGuid)
                                </th>*@
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @{
                                        var culture = new System.Globalization.CultureInfo("id-ID");
                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OvertimeNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td>
                                        @{
                                            var formatCreatedDate = item.CreatedDate.ToString("dd MMMM yyyy", culture);
                                        }
                                        @Html.DisplayFor(modelItem => formatCreatedDate)
                                    </td>
                                    @*<td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                                </td>
                                <td>
                                @Html.DisplayFor(modelItem => item.EndDate)
                                </td>
                                <td>
                                @Html.DisplayFor(modelItem => item.Paid)
                                </td>
                                <td>
                                @Html.DisplayFor(modelItem => item.Remarks)
                                </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Remaining)
                                    </td>
                                    <td>
                                        @if (item.Status == API.Utilities.Enums.StatusLevel.Accepted)
                                        {
                                            <label class="badge badge-info">Accepted</label>
                                        }
                                        else if (item.Status == API.Utilities.Enums.StatusLevel.Rejected)
                                        {
                                            <label class="badge badge-danger">Rejected</label>
                                        }
                                        else if (item.Status == API.Utilities.Enums.StatusLevel.Waiting)
                                        {
                                            <label class="badge badge-warning">Pending</label>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.Status)
                                        }
                                        @*@Html.DisplayFor(modelItem => item.Status)*@
                                    </td>
                                    @*                                <td>
                                @Html.DisplayFor(modelItem => item.EmployeeGuid)
                                </td>*@
                                    <td>
                                        <form action="/overtime/detail" method="GET">
                                            <input type="hidden" value="@item.Guid" name="guid" />
                                            <button type="submit" class="btn btn-primary m-1"><i class="mdi mdi-information-outline"></i> Detail</button>
                                        </form>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

